<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gam.Answer">
    
    <select id="selectAnswerPaging"  resultType="int">
		SELECT COUNT(*) FROM mgm_answerboard
	</select> 
    
    <select id="getAnswerList" parameterType="Map" resultType="AnswerDto">
 		 SELECT answerboard_seq,answerboard_group,answerboard_step,answerboard_title,answerboard_writer,
		answerboard_regdate,answerboard_delflag,answerboard_secret,answerboard_depth
		FROM mgm_answerboard  ORDER BY answerboard_group DESC,answerboard_step LIMIT #{pagenum},#{contentnum}
  
  </select>
  
  <insert id="ansinsert" parameterType="AnswerDto">
    insert into mgm_answerboard(answerboard_group,answerboard_step,answerboard_title,answerboard_contents,answerboard_writer,
	 answerboard_regdate,answerboard_delflag,answerboard_secret,answerboard_depth)VALUES       
((SELECT IFNULL(MAX(answerboard_group) + 1, 1)from mgm_answerboard A),0,#{answerboard_title},#{answerboard_contents},#{answerboard_writer},now(),'N',#{answerboard_secret},0)       
  </insert>
  
  <select id="checkedMember" parameterType="int" resultType="String">
  	select answerboard_writer from mgm_answerboard where answerboard_seq=#{answerboard_seq}
  </select>
  
  <select id="getAnsboard" parameterType="int" resultType="AnswerDto">
  select answerboard_seq,answerboard_group,answerboard_step,answerboard_title,answerboard_contents,answerboard_writer,
	 answerboard_regdate,answerboard_delflag,answerboard_secret,answerboard_depth from mgm_answerboard where answerboard_seq = #{answerboard_seq}
  </select>
  
  <update id="ansUpdate" parameterType="AnswerDto">
   UPDATE mgm_answerboard SET answerboard_title=#{answerboard_title}, answerboard_contents=#{answerboard_contents},answerboard_regdate=now(),answerboard_secret=#{answerboard_secret}
		 WHERE answerboard_seq=#{answerboard_seq}
  </update>
  
  <update id="ansDelete" parameterType="int">
  UPDATE mgm_answerboard SET answerboard_delflag='Y' where answerboard_seq=#{answerboard_seq}
  </update>
  
  <update id="ansreply" parameterType="int">
  UPDATE mgm_answerboard SET answerboard_step = answerboard_step+1 WHERE answerboard_group=(select answerboard_group from(SELECT answerboard_group FROM mgm_answerboard WHERE answerboard_seq= #{answerboard_seq})as D)
	AND answerboard_step > (select answerboard_step from (SELECT answerboard_step FROM mgm_answerboard WHERE answerboard_seq= #{answerboard_seq})as E); 
  </update>
  </mapper>