<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gam.horses">
	<!-- <insert id="hrinsert" parameterType="HorsesDto">
		INSERT INTO HORSES
		(hr_htName,hr_name,hr_sex,hr_birthday,hr_age,hr_rank,hr_part,hr_trName,hr_owName,hr_meet)
		VALUES
		(#{hr_htName},#{hr_name},#{hr_sex},#{hr_birthday},#{hr_age},#{hr_rank},#{hr_part},#{hr_trName},#{hr_owName},#{hr_meet})
	</insert> -->
	<insert id="hrinsert" parameterType="HorsesDto">
		INSERT INTO HORSES
		(
		HR_HTNAME,HR_NAME,HR_SEX,HR_BIRTHDAY,HR_AGE,HR_RANK,HR_PART,HR_TRNAME,HR_MEET		
		)
		VALUES
		(
		#{hr_htName},#{hr_name},#{hr_sex},#{hr_birthday},#{hr_age},#{hr_rank},#{hr_part},#{hr_trName},#{hr_meet}
		)
	</insert>
	<delete id="hrdel" parameterType="int">
		delete from horses where
		hr_meet = #{hr_meet}
	</delete>

	<select id="getList" parameterType="int" resultType="HorsesDto">
		select
		hr_name,hr_part,hr_age,hr_stdate,hr_rccntt,hr_ord1cntt,hr_ord2cntt,hr_rccnty,hr_ord1cnty,hr_ord2cnty
		from hrainers where hr_meet = #{hr_meet}
	</select>

	<select id="hrList" resultType="String" parameterType="int">
		SELECT HR_HTNAME FROM HORSES WHERE HR_MEET=#{value}
	</select>

	<update id="hrInfoUpdate" parameterType="HorsesDto">
		UPDATE HORSES SET
		HR_NO=#{hr_no},
		HR_OWNAME=#{hr_owName},
		HR_RCCNTT=#{hr_rcCntT},
		HR_ORD1CNTT=#{hr_ord1CntT},
		HR_ORD2CNTT=#{hr_ord2CntT},
		HR_ORD3CNTT=#{hr_ord3CntT},
		HR_RCCNTY=#{hr_rcCntY},
		HR_ORD1CNTY=#{hr_ord1CntY},
		HR_ORD2CNTY=#{hr_ord2CntY},
		HR_ORD3CNTY=#{hr_ord3CntY},
		HR_FAHRNAME=#{hr_faHrName},
		HR_MOHRNAME=#{hr_moHrName},
		HR_CHAKSUNT=#{hr_chaksunT},
		HR_RATING=#{hr_rating},
		HR_HRLASTAMT=#{hr_hrLastAmt},
		RHRREGDT1=#{rhrRegDt1},
		AUCTIONMON=#{auctionMon}
		WHERE HR_HTNAME=#{hr_htName}
	</update>
	
	<select id="getCount" parameterType="int" resultType="HrCountDto">
		select count(if(hr_rank='외1',1,null))as foreign1,count(if(hr_rank='외2',1,null))as foreign2,
		count(if(hr_rank='외3',1,null))as foreign3,count(if(hr_rank='외4',1,null))as foreign4,
		count(if(hr_rank='외미',1,null))as YetForeign,count(if(hr_rank='국1',1,null))as domestic1,count(if(hr_rank='국2',1,null))as domestic2,
		count(if(hr_rank='국3',1,null))as domestic3,count(if(hr_rank='국4',1,null))as domestic4,count(if(hr_rank='국5',1,null))as domestic5,
		count(if(hr_rank='국6',1,null))as domestic6,count(if(hr_rank='국미',1,null))as YetDomestic from horses where hr_meet=#{hr_meet}
	</select>
	
	
	<select id="getjeju" resultType="HrCountDto">
		select count(if(hr_rank='한1',1,null))as foreign1,count(if(hr_rank='한2',1,null))as foreign2,
		count(if(hr_rank='한3',1,null))as foreign3,count(if(hr_rank='한4',1,null))as foreign4,
		count(if(hr_rank='제1',1,null))as domestic1,count(if(hr_rank='제2',1,null))as domestic2,
		count(if(hr_rank='제3',1,null))as domestic3,count(if(hr_rank='제4',1,null))as domestic4,count(if(hr_rank='제5',1,null))as domestic5,
		count(if(hr_rank='제6',1,null))as domestic6,count(if(hr_rank='미',1,null))as YetDomestic from horses where hr_meet=2
	</select>
	
	<select id="horseList" parameterType="Map" resultType="HorsesDto">
		select hr_htName,hr_owName,hr_rank,hr_name,hr_sex,hr_age,hr_birthday,hr_rcCntT,hr_ord1CntT,hr_ord2CntT from horses where hr_part=#{hr_part} AND hr_meet=#{hr_meet}
	</select>
	
	<select id="rankList" parameterType="Map" resultType="HorsesDto">
		select hr_htName,hr_part,hr_rank,hr_name,hr_sex,hr_age,hr_rcCntT,hr_ord1CntT,hr_ord2CntT,hr_ord3CntT from horses where hr_rank=#{hr_rank} AND hr_meet=#{hr_meet}
	</select>
	
	<update id="addInfo" parameterType="HorsesDto">
		UPDATE HORSES SET
		DEBUT = #{debut},
		RECENTRCDATE = #{recentRcDate}
		WHERE HR_HTNAME=#{hr_htName}
	</update>
	
	<select id="hrRecord" parameterType="RecordInfoDto">
	SELECT 
	*,
	(SELECT COUNT(*) FROM RACE_RESULT AS RRS WHERE RRS.RR_RCDATE = RS.RCDATE AND RRS.RR_RCNO = RS.RCNO AND RRS.RR_MEET = RS.MEET)
	AS HRCOUNT
	FROM(
	SELECT RI.RI_RCDATE AS RCDATE, RI.RI_RCNO AS RCNO, RI.RI_MEET AS MEET,
	RI.RI_RANK AS RANKS, RI.RI_RCDIST AS RCDIST, RI.RI_RCNAME AS RCNAME,
	RR.RR_WGBUDAM AS WGBUDAM, RR.RR_TRNAME AS TRNAME, RR.RR_RCTIME AS RCTIME,
	RR.RR_WGHR AS WGHR, RR.RR_RATING AS RATING,RI.RI_TRACK AS TRACK
	FROM RACE_INFO AS RI INNER JOIN RACE_RESULT AS RR
	ON RI.RI_RCDATE = RR.RR_RCDATE AND RI.RI_RCNO = RR.RR_RCNO AND RI.RI_MEET
	= RR.RR_MEET
	WHERE RR.RR_HRNO = #{value}) AS RS
	</select>
</mapper>