<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gam.jockey">
	<insert id="jkinsert" parameterType="JockeyDto">
		INSERT INTO JOCKEY 
		(jk_name,jk_no, jk_part,jk_birthday,jk_age,jk_debut,jk_wgPart,jk_wgOther,jk_rcCntT,jk_ord1CntT,jk_ord2CntT,jk_ord3CntT,jk_rcCntY,jk_ord1CntY,jk_ord2CntY,jk_ord3CntY,jk_meet)
		VALUES
		(#{jk_name},#{jk_no},#{jk_part},#{jk_birthday},#{jk_age},#{jk_debut},#{jk_wgPart},#{jk_wgOther},#{jk_rcCntT},#{jk_ord1CntT},#{jk_ord2CntT},#{jk_ord3CntT},#{jk_rcCntY},#{jk_ord1CntY},#{jk_ord2CntY},#{jk_ord3CntY},#{jk_meet})
	</insert>
	<delete id="jkdel" parameterType="int">
		DELETE FROM JOCKEY WHERE JK_MEET = #{jk_meet}
	</delete>
	
	<select id="getList" parameterType="int" resultType="JockeyDto">
		select jk_no,jk_name,jk_part,jk_birthday,jk_age,jk_debut,jk_wgPart,jk_wgOther,jk_rcCntT,jk_ord1CntT,jk_ord2CntT,jk_ord3CntT,jk_rcCntY,jk_ord1CntY,jk_ord2CntY,jk_ord3CntY,jk_meet
		 from JOCKEY where jk_meet = #{jk_meet}
	</select>
	
	<select id="getkisu" parameterType="String" resultType="JockeyDto">
		select jk_no,jk_name,jk_part,jk_birthday,jk_age,jk_debut,jk_wgPart,jk_wgOther,jk_rcCntT,jk_ord1CntT,jk_ord2CntT,jk_ord3CntT,jk_rcCntY,jk_ord1CntY,jk_ord2CntY,jk_ord3CntY,jk_meet
		 from JOCKEY where jk_no = #{jk_no}
	</select>
	
	<update id="jkUpdate" parameterType="int">
		update jockey set jk_no = #{jk_no} where jk_name = #{jk_name}
	</update>
	
	<select id="recordInfo" resultType="RecordInfoDto" parameterType="String">
	SELECT
	*,
	(SELECT COUNT(*) FROM RACE_RESULT AS RRS WHERE RRS.RR_RCDATE = RS.RCDATE AND
	RRS.RR_RCNO = RS.RCNO AND RRS.RR_MEET = RS.MEET)
	AS HRCOUNT
	FROM(
	SELECT RR.RR_JKNO AS JKNO,RR.RR_JKNAME AS JKNAME,RR.RR_OWNO AS
	OWNO,RR.RR_OWNAME AS OWNAME,RR.RR_TRNAME AS TRNAME,RR.RR_TRNO AS TRNO,
	RR.RR_HRNAME AS HRNAME,RR.RR_HRNO AS HRNO,RI.RI_RCDATE AS RCDATE,
	RI.RI_RCNO AS RCNO,
	RI.RI_MEET AS MEET,
	RI.RI_RANK AS RANKS, RI.RI_RCDIST AS RCDIST, RI.RI_RCNAME AS RCNAME,rr.rr_ord as
	ord
	FROM RACE_INFO AS RI INNER JOIN RACE_RESULT AS RR
	ON RI.RI_RCDATE = RR.RR_RCDATE AND RI.RI_RCNO = RR.RR_RCNO AND
	RI.RI_MEET
	= RR.RR_MEET
	WHERE RR.RR_JKNO =#{jk_no} ) AS RS ORDER BY RS.RCDATE DESC;
	</select>
	
	<select id="rtPrize" resultType="RTPrizeDto" parameterType="String">
		SELECT
		DATE_FORMAT(A.RR_RCDATE,'%Y.%m') AS RACEMONTH,
		COUNT(*) AS TOTALCOUNT,
		COUNT(IF(A.RR_ORD=1,A.RR_ORD,NULL)) AS ORD1COUNT,
		COUNT(IF(A.RR_ORD=2,A.RR_ORD,NULL)) AS ORD2COUNT,
		SUM(
		CASE
		WHEN A.RR_ORD=1 THEN B.RI_CHAKSUN1
		WHEN A.RR_ORD=2 THEN B.RI_CHAKSUN2
		WHEN A.RR_ORD=3 THEN B.RI_CHAKSUN3
		WHEN A.RR_ORD=4 THEN B.RI_CHAKSUN4
		WHEN A.RR_ORD=5 THEN B.RI_CHAKSUN5
		ELSE 0
		END) AS TOTALPRIZE
		FROM RACE_RESULT A INNER JOIN RACE_INFO B ON A.RR_RCDATE = B.RI_RCDATE AND
		A.RR_RCNO = B.RI_RCNO AND A.RR_MEET = B.RI_MEET 
		WHERE A.RR_JKNO = #{jk_no}
		GROUP BY DATE_FORMAT(A.RR_RCDATE,'%Y%M') ORDER BY A.RR_RCDATE
		DESC LIMIT 6
	</select>
	
	<select id="selChampion" parameterType="String" resultType="ChampionDto">
		select rc_name,rc_date,hr_name,rc_chaksun from champion where jk_name=#{jk_name}
	</select>
</mapper>