<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.gam.Member">
    	<select id="login" parameterType="Map" resultType="MemberDto">
    		SELECT MEMBER_ID,MEMBER_PW,MEMBER_POINT FROM MGM_MEMBER WHERE MEMBER_ID=#{member_id} AND MEMBER_PW=#{member_pw} AND MEMBER_DELFLAG='N'
    	</select>
    	
    	<insert id="signup" parameterType="MemberDto">
    		INSERT INTO MGM_MEMBER(MEMBER_ID, MEMBER_PW, MEMBER_ADDRESS, MEMBER_NAME, MEMBER_BIRTH, MEMBER_PHNUM, MEMBER_DELFLAG, MEMBER_POINT,MEMBER_REGDATE)
			VALUES (#{member_id},#{member_pw},#{member_address},#{member_name},#{member_birth},#{member_phnum},'N',100,NOW())
    	</insert>
    	
   		<select id="mypage" parameterType="String" resultType="MemberDto">
   			SELECT MEMBER_ID,MEMBER_ADDRESS, MEMBER_NAME, MEMBER_PHNUM,MEMBER_POINT,MEMBER_REGDATE,(SELECT COUNT(MESSAGE_SEQ) FROM MGM_MESSAGE WHERE MGM_MESSAGE.MESSAGE_RECEIVER = #{uid} AND MGM_MESSAGE.MESSAGE_READ="N" AND MGM_MESSAGE.MESSAGE_DELFLAG="N") AS MESSAGE_COUNT,(SELECT COUNT(*) FROM MGM_BOARD WHERE BOARD_WRITER=#{uid} AND BOARD_DELFLAG="N") AS BOARD_COUNT FROM MGM_MEMBER WHERE MEMBER_ID=#{uid}
   		</select>
   		
   		<update id="withdrawal" parameterType="String">
   			UPDATE MGM_MEMBER SET MEMBER_DELFLAG ='Y' WHERE MEMBER_ID=#{uid};
   		</update>
  </mapper>