<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gam.owner">
	<insert id="owinsert" parameterType="OwnerDto">
		INSERT INTO owner 
		(OW_NO, OW_NAME, OW_TOTHORSES, OW_CANCLEDHORSES, OW_NOWHORSES, OW_STDATE, OW_RCCNTY, OW_CHAKSUNY,OW_RCCNTT, OW_CHAKSUNT,OW_MEET)
		VALUES
		(#{ow_no},#{ow_name},#{ow_totHorses},#{ow_cancledHorses},#{ow_nowHorses},#{ow_stDate},#{ow_rcCntY},#{ow_chaksunY},#{ow_rcCntT},#{ow_chaksunT},#{ow_meet})
	</insert>
	<delete id="owdel" parameterType="int">
		DELETE FROM OWNER WHERE OW_MEET = #{ow_meet}
	</delete>
	
	<select id="getList" parameterType="int" resultType="OwnerDto">
		select ow_no,ow_name,ow_totHorses,ow_cancledHorses,ow_nowHorses,ow_stDate,ow_rcCntT,ow_rcCntY,ow_chaksunY,ow_chaksunT,ow_meet from owner where ow_meet=#{ow_meet}
	</select>
	<select id="getowner" parameterType="Map" resultType="OwnerDto">
		select ow_no,ow_name,ow_stDate,ow_nowHorses,ow_meet from owner where ow_name=#{ow_name} and ow_meet=#{ow_meet}
	</select>
</mapper>