<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gam.racePlan">
  	<insert id="rcPlanInsert" parameterType="RacePlanDto">
  		insert into race_plan(
 			rp_meet,  
			rp_rcDate,
			rp_rcDay,
			rp_rcNo,  
			rp_chulNo, 
			rp_hrName, 
			rp_hrNo, 
			rp_prd, 
			rp_sex, 
			rp_age, 
			rp_wgBudam,
			rp_rating,  
			rp_jkName, 
			rp_jkNo,	
			rp_trName, 
			rp_trNo, 
			rp_owName, 
			rp_owNo, 
			rp_ilsu,  
			rp_rcDist,  
			rp_dusu, 
			rp_rank,
			rp_prizeCond, 
			rp_ageCond, 
			rp_stTime, 
			rp_budam, 
			rp_rcName, 
			rp_chaksun1,
			rp_chaksun2,
			rp_chaksun3,
			rp_chaksun4, 
			rp_chaksun5 		
  		)
  		values(
  			#{rp_meet},
  			DATE_ADD(#{rp_rcDate},INTERVAL 1 DAY),
  			#{rp_rcDay},
			#{rp_rcNo},  
			#{rp_chulNo}, 
			#{rp_hrName}, 
			#{rp_hrNo}, 
			#{rp_prd}, 
			#{rp_sex}, 
			#{rp_age}, 
			#{rp_wgBudam},
			#{rp_rating},  
			#{rp_jkName}, 
			#{rp_jkNo},	
			#{rp_trName}, 
			#{rp_trNo}, 
			#{rp_owName}, 
			#{rp_owNo}, 
			#{rp_ilsu},  
			#{rp_rcDist},  
			#{rp_dusu}, 
			#{rp_rank},
			#{rp_prizeCond}, 
			#{rp_ageCond}, 
			#{rp_stTime}, 
			#{rp_budam}, 
			#{rp_rcName}, 
			#{rp_chaksun1},
			#{rp_chaksun2},
			#{rp_chaksun3},
			#{rp_chaksun4}, 
			#{rp_chaksun5}
  		)
  	</insert>
    <delete id="resetTable">
    	TRUNCATE RACE_PLAN
    </delete>
 	<update id="resetSeq">
 		ALTER TABLE RACE_PLAN AUTO_INCREMENT=1
 	</update>
 	
 	<select id="getlist" parameterType="int" resultType="RacePlanDto">
 		select rp_rcDate,rp_rcNo,rp_meet,rp_rank,rp_rcDist,rp_dusu,rp_stTime,rp_rcName,rp_rcDay from race_plan 
		where rp_meet = #{rp_meet} group by rp_rcDate,rp_rcNo,rp_rcDist,rp_rank,rp_dusu,rp_stTime,rp_rcName,rp_rcDay
 	</select>
 	
 	<select id="getDetail" parameterType="Map" resultType="RacePlanDto">
 		select rp_rcDate,rp_rcNo,rp_meet,rp_rank,rp_rcDist,rp_dusu,rp_stTime,rp_rcName,rp_rcDay,rp_budam,rp_prizeCond,rp_ageCond,rp_ilsu,
		rp_chaksun1,rp_chaksun2,rp_chaksun3,rp_chaksun4,rp_chaksun5 from race_plan 
		where rp_rcNo = #{rp_rcNo} and rp_rcDate=#{rp_rcDate} and rp_meet=#{rp_meet} group by rp_rcDist,rp_rank,rp_dusu,rp_stTime,rp_rcName,rp_meet,rp_ilsu,rp_rcDay,rp_budam,rp_prizeCond,rp_ageCond
		,rp_chaksun1,rp_chaksun2,rp_chaksun3,rp_chaksun4,rp_chaksun5
 	</select>
 	
 	<select id="getdetaillist" parameterType="Map" resultType="RacePlanDto">
 		select A.rp_chulNo,A.rp_hrName,A.rp_prd,A.rp_rcNo,A.rp_sex,A.rp_age,A.rp_rating,A.rp_wgBudam,A.rp_jkName,A.rp_trName,A.rp_owName,A.rp_dusu,A.rp_ilsu,
		B.hr_rcCntT,B.hr_ord1CntT,B.hr_ord2CntT,B.hr_ord3CntT,B.hr_rcCntY,B.hr_ord1CntY,B.hr_ord2CntY,B.hr_ord3CntY
		from race_plan A INNER JOIN horses B ON A.rp_hrNo = B.hr_no where rp_rcNo = #{rp_rcNo} and rp_rcDate=#{rp_rcDate} and rp_meet=#{rp_meet} order by rp_chulNo
 	</select>
 	
 	<select id="roundlist" parameterType="Map" resultType="RacePlanDto">
 		select rp_rcDate,rp_rcNo,rp_meet,rp_rank,rp_rcDist,rp_dusu,rp_stTime,rp_rcName,rp_rcDay from race_plan 
		where rp_meet = #{rp_meet} AND rp_rcDate = #{rp_rcDate} group by rp_rcDate,rp_rcNo,rp_rcDist,rp_rank,rp_dusu,rp_stTime,rp_rcName,rp_rcDay
 	</select>
  </mapper>