<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gam.race">
	<insert id="schInsert" parameterType="RaceScheduleVo">
		INSERT INTO RACE_SCHEDULE
		VALUES
		(
		#{schedulelist.rcDate},
		#{schedulelist.rcNo},
		#{schedulelist.ilsu},
		#{schedulelist.meet},
		#{schedulelist.schStTime},
		#{schedulelist.rank},
		#{schedulelist.rcDist},
		#{schedulelist.budam},
		#{schedulelist.rcName},
		#{schedulelist.ageCond},
		#{schedulelist.chaksun1},
		#{schedulelist.chaksun2},
		#{schedulelist.chaksun3},
		#{schedulelist.chaksun4},
		#{schedulelist.chaksun5})
	</insert>

	<delete id="scheduleAllDel">
		TRUNCATE RACE_SCHEDULE
	</delete>

	<insert id="rcResultInsert" parameterType="RaceResultDto">
		INSERT INTO
		RACE_RESULT
		(
		rr_meet,
		rr_rcDate,
		rr_rcNo,
		rr_hrNo,
		rr_hrName,
		rr_ord,
		rr_chulNo,
		rr_wgBudam,
		rr_wgHr,
		rr_rcTime,
		rr_diffUnit,
		rr_ordS1f,
		rr_g8f_1c,
		rr_g6f_2c,
		rr_g4f_3c,
		rr_g3f_4c,
		rr_g2f,
		rr_ordG1f,
		rr_rcTimeS1f,
		rr_rcTime_1c,
		rr_rcTime_2c,
		rr_rcTime_3c,
		rr_rcTime_4c,
		rr_rcTimeG3f,
		rr_rcTimeG2f,
		rr_rcTimeG1f,
		rr_winOdds,
		rr_plcOdds,
		rr_trName,
		rr_jkName,
		rr_owName,
		rr_rating
		)
		VALUES
		(
		#{rr_meet},
		#{rr_rcDate},
		#{rr_rcNo},
		#{rr_hrNo},
		#{rr_hrName},
		#{rr_ord},
		#{rr_chulNo},
		#{rr_wgBudam},
		#{rr_wgHr},
		#{rr_rcTime},
		#{rr_diffUnit},
		#{rr_ordS1f},
		#{rr_g8f_1c},
		#{rr_g6f_2c},
		#{rr_g4f_3c},
		#{rr_g3f_4c},
		#{rr_g2f},
		#{rr_ordG1f},
		#{rr_rcTimeS1f},
		#{rr_rcTime_1c},
		#{rr_rcTime_2c},
		#{rr_rcTime_3c},
		#{rr_rcTime_4c},
		#{rr_rcTimeG3f},
		#{rr_rcTimeG2f},
		#{rr_rcTimeG1f},
		#{rr_winOdds},
		#{rr_plcOdds},
		#{rr_trName},
		#{rr_jkName},
		#{rr_owName},
		#{rr_rating}
		)
	</insert>

	<insert id="rcInfoInsert" parameterType="RaceInfoDto">
		INSERT INTO RACE_INFO
		(
		ri_meet,
		ri_rcDate,
		ri_rcNo,
		ri_ilsu,
		ri_rcDist,
		ri_rank,
		ri_budam,
		ri_rcName,
		ri_ageCond,
		ri_weather,
		ri_track,
		ri_chaksun1,
		ri_chaksun2,
		ri_chaksun3,
		ri_chaksun4,
		ri_chaksun5,
		ri_winAmt,
		ri_plcAmt,
		ri_qnlAmt,
		ri_exaAmt,
		ri_qplAmt,
		ri_tlaAmt,
		ri_triAmt,
		ri_totalAmt
		)
		VALUES
		(
		#{ri_meet},
		#{ri_rcDate},
		#{ri_rcNo},
		#{ri_ilsu},
		#{ri_rcDist},
		#{ri_rank},
		#{ri_budam},
		#{ri_rcName},
		#{ri_ageCond},
		#{ri_weather},
		#{ri_track},
		#{ri_chaksun1},
		#{ri_chaksun2},
		#{ri_chaksun3},
		#{ri_chaksun4},
		#{ri_chaksun5},
		#{ri_winAmt},
		#{ri_plcAmt},
		#{ri_qnlAmt},
		#{ri_exaAmt},
		#{ri_qplAmt},
		#{ri_tlaAmt},
		#{ri_triAmt},
		#{ri_totalAmt}
		)
	</insert>
	<select id="getCntList" parameterType="Map" resultType="RaceInfoDto">
		select ri_rcDate,count(*) as ri_cnt from race_info where ri_meet =#{ri_meet} group by ri_rcDate DESC limit #{pagenum},#{contentnum}
	</select>
	
	<select id="getAllCount" parameterType="int" resultType="int">
		select count(*) from (select ri_rcDate,count(*) as ri_cnt from race_info where ri_meet =#{ri_meet} group by ri_rcDate)as B;	
	</select>
	
	<select id="getridetail" parameterType="Map" resultType="RaceInfoDto">
		select ri_meet,ri_rcDate,ri_rcNo,ri_ilsu,ri_rcDist,ri_rank,ri_budam,ri_rcName,ri_ageCond,ri_weather,ri_track,ri_chaksun1,ri_chaksun2,ri_chaksun3,ri_chaksun4
		,ri_chaksun5,ri_winAmt,ri_plcAmt,ri_qnlAmt,ri_exaAmt,ri_qplAmt,ri_tlaAmt,ri_triAmt,ri_totalAmt from race_info where ri_meet=#{ri_meet} AND ri_rcNo=#{ri_rcNo}
		AND ri_rcDate = #{ri_rcDate}
	</select>
	
	<select id="getrrdetail" parameterType="Map" resultType="RaceResultDto">
		select rr_meet,rr_rcDate,rr_rcNo,rr_hrno,rr_hrName,rr_ord,rr_chulNo,rr_wgBudam,rr_wgHr,rr_rcTime,rr_diffUnit,rr_ordS1f,rr_g8f_1c,rr_g6f_2c,rr_g4f_3c,rr_g3f_4c
		,rr_g2f,rr_ordG1f,rr_rcTimeS1f,rr_rcTime_1c,rr_rcTime_2c,rr_rcTime_3c,rr_rcTime_4c,rr_rcTimeG3f,rr_rcTimeG2f,rr_rcTimeG1f,rr_winOdds,rr_plcOdds,rr_rating
		,rr_owName,rr_TrName,rr_jkName from race_result where rr_meet=#{ri_meet} AND rr_rcNo=#{ri_rcNo}
		AND rr_rcDate = #{ri_rcDate}
	</select>
</mapper>