<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gam.trainer">
	<insert id="trinsert" parameterType="TrainerDto">
		INSERT INTO trainers(tr_name,tr_part,tr_birth,tr_age,tr_stdate,tr_rccntt,tr_ord1cntt,tr_ord2cntt,tr_ord3cntt,
		tr_rccnty,tr_ord1cnty,tr_ord2cnty,tr_ord3cnty,tr_meet)VALUES
		(#{tr_name},#{tr_part},#{tr_birth},#{tr_age},
		#{tr_stdate},#{tr_rccntt},#{tr_ord1cntt},#{tr_ord2cntt},#{tr_ord3cntt},#{tr_rccnty},#{tr_ord1cnty},#{tr_ord2cnty},#{tr_ord3cnty},#{tr_meet})
	</insert>
	<delete id="trdel">
		delete from trainers
	</delete>
</mapper>