<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gam.trainer">
	<insert id="trinsert" parameterType="TrainerDto">
		INSERT INTO trainers(tr_name,tr_part,tr_birth,tr_age,tr_stdate,tr_rccntt,tr_ord1cntt,tr_ord2cntt,tr_ord3cntt,
		tr_rccnty,tr_ord1cnty,tr_ord2cnty,tr_ord3cnty,tr_meet)VALUES
		(#{tr_name},#{tr_part},#{tr_birth},#{tr_age},
		#{tr_stdate},#{tr_rccntt},#{tr_ord1cntt},#{tr_ord2cntt},#{tr_ord3cntt},#{tr_rccnty},#{tr_ord1cnty},#{tr_ord2cnty},#{tr_ord3cnty},#{tr_meet})
	</insert>
	<delete id="trdel" parameterType="int">
		delete from trainers where tr_meet = #{tr_meet}
	</delete>
	
	<select id="getList" parameterType="int" resultType="TrainerDto">
		select tr_name,tr_part,tr_age,tr_stdate,tr_rccntt,tr_ord1cntt,tr_ord2cntt,tr_rccnty,tr_ord1cnty,tr_ord2cnty from trainers where tr_meet = #{tr_meet}
	</select>
	
	<select id="trChampionList" parameterType="String" resultType="ChampionDto">
		select rc_name, rc_date, hr_name from champion where tr_name=#{tr_name}
	</select>
	
	<select id="getjokyo" parameterType="String" resultType="TrainerDto">
		select tr_name,tr_part,tr_birth,tr_age,tr_stdate,tr_rccntt,tr_ord1cntt,tr_ord2cntt,tr_ord3cntt,
		tr_rccnty,tr_ord1cnty,tr_ord2cnty,tr_ord3cnty,tr_meet from trainers where tr_meet = #{tr_meet}
	</select>
</mapper>